.showpage_body
  .showpage_container
    .header
      -# = "#{current_user.twitter_name}'s TweetBox"
    .inner_header
      -# = "TWEETBOX"
    .tag_container
      .photo
        = image_tag @user.image_url
        = image_tag @user.image_url
        = image_tag @user.image_url
        = image_tag @user.image_url
      - user_tweets = []
      - @tweets.each do |tweet|
        - tweet.hashtags.each do |hashtag|
          - unless user_tweets.include?(hashtag.text)
            - user_tweets << hashtag.text
            %br
            .tags_left
              = link_to hashtag.text.upcase, 'http://www.google.com' #thetweetbox/username/tag
    .tweetwithtag_container
      - @tweets.each do |tweet|
        %br
        .tweets
          = CGI.unescape(tweet.text)
          - tweet.links.each do |link|
            = link.url
            %br
        - tweet.hashtags.each do |hashtag|
          .tags
            = hashtag.text.upcase

