.body
  .header
    .twitter_handle
      ="@" + @user.twitter_name + "'s"

    .inner_header
      = "tweetbox"
    .welcome
      - if current_user
        = "Welcome #{current_user.twitter_name}!"
      -else
        = link_to "Sign In With Twitter", "/auth/twitter"
  .left_center_container
    .left_column

      .photo
        = image_tag @user.image_url
        = image_tag @user.image_url
        = image_tag @user.image_url
        = image_tag @user.image_url
      - user_tweets = []
      - user_urls = []
      - @hashtags.each do |hashtag, num|
        .button
          = link_to "\##{hashtag.upcase} (#{num})", 'http://www.google.com' #thetweetbox/username/tag
    .center_column
      #container
        - @tweets.each do |tweet|
          .box
            .tweets.clearfix
              = link_to CGI.unescape(tweet.text), tweet.links.first.url
                
%nav#page-nav
  %a{href: "/#{@user.twitter_name}?page=2"}                

