.header
  .twitter_handle
    ="@" + @user.twitter_name + "'s"

  .inner_header
    = "tweetbox"
.left_center_container
  .left_column
    .photo
      = image_tag @user.image_url
      = image_tag @user.image_url
      = image_tag @user.image_url
      = image_tag @user.image_url
    - user_tweets = []
    - user_urls = []
    - @tweets.each do |tweet|
      - tweet.hashtags.each do |hashtag|
        - unless user_tweets.include?(hashtag.text)
          - user_tweets << hashtag.text
          %br
          .tags_left
            = link_to hashtag.text.upcase, 'http://www.google.com' #thetweetbox/username/tag
  .center_column
    - @tweets.each do |tweet|
      %br
      .tweets
        = CGI.unescape(tweet.text)
        - tweet.links.each do |link|
          = link.url
          %br
      - tweet.hashtags.each do |hashtag|
        .tags
          = hashtag.text.upcase
.right_column
  - @tweets.each do |tweet|
    - tweet.links.each do |link|
      - unless user_urls.include?(link.url)
        - user_url << link.url
        %br
        .urls_right
          = link_to link.url.downcase, link.url, :target => "_blank" #thetweetbox/username/tag


